<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!--Spring配置节点-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <!--Spring配置节点结束-->

  </configSections>


  <!--Spring配置节点-->
  <spring>

    <context>
      <!--选择XML文件的位置，3种方式，1 配置文件 2 定位文件 3 程序集-->
      <resource uri="config://spring/objects"/>
       <resource uri="file://service.xml"/>
      <!--<resource uri="assembly://SpringNetTest/SpringNetTest/objects1.xml"/>-->
    </context>
    <objects xmlns="http://www.springframework.net">

      <!--此处配置各种要注入的实体对象-->
      <!--<object name="UserInfoService" type="JCJ.OA.SpringNer.UserInfoService,JCJ.OA.SpringNer">
        <property name="UserName" value="jcj"/>
        <property name="Person" ref="MyPerson"/>
      </object>
      --><!--autowire="constructor"根据构造函数注入 au--><!--
      --><!--<object name="UserInfoDal" type="SpringNetTest.UserInfoDal,SpringNetTest" autowire="byType">
        <constructor-arg name="Id" value="2"/>
        --><!--<constructor-arg name="OrderInfo" ref="OrderInfo"/>--><!--
      --><!--</object>--><!--
      <object name="MyPerson" type="JCJ.OA.SpringNer.Person,JCJ.OA.SpringNer">
        <property name="Age" value="25"/>
        --><!--<property name="Name" value="jayjay"/>
        <property name="OrderInfo" ref="OrderInfo"/>--><!--
      </object>-->
    </objects>

  </spring>
  <!--Spring配置节点结束-->

</configuration>