
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAddVideo</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="/SwfUpload/swfupload.js"></script>
    <script src="/SwfUpload/handlers.js"></script>
    <script src="~/SwfUpload/swfupload.queue.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style type="text/css">
        textarea, select {
            padding: 2px;
            border: 1px solid;
            border-color: #666 #ccc #ccc #666;
            background: #F9F9F9;
            color: #333;
            resize: none;
            width: 100%;
        }

        .textbox {
            padding: 3px;
            border: 1px solid;
            border-color: #666 #ccc #ccc #666;
            background: #F9F9F9;
            color: #333;
            resize: none;
            width: 100%;
        }

            .textbox:hover, .textbox:focus, textarea:hover, textarea:focus {
                border-color: #09C;
                background: #F5F9FD;
            }

        div {
            display: block;
        }

            div.thumbshow {
                text-align: center;
                margin: 2px;
                padding: 2px;
                width: 162px;
                height: 150px;
                border: dashed 1px #B8B808;
                background: #FFFFF6;
                float: left;
            }
    </style>
    <script type="text/javascript">
          var swfu;
          window.onload = function () {
              swfu = new SWFUpload({
                  // Backend Settings
                  upload_url: "/VideoInfo/VideoFileUp",
                  post_params: {
                      "ASPSESSID": "@Session.SessionID"
                  },

                  // File Upload Settings
                  file_size_limit: "100 MB",
                  file_types: "*.avi;*.wmv",
                  file_types_description: "JPG Images",
                  file_upload_limit: 10,    // Zero means unlimited
                  file_queue_limit: 0,
                  // Event Handler Settings - these functions as defined in Handlers.js
                  //  The handlers are not part of SWFUpload but are part of my website and control how
                  //  my website reacts to the SWFUpload events.
                  swfupload_preload_handler: preLoad,
                  //file_queued_handler: fileQueued,
                  swfupload_load_failed_handler: loadFailed,

                  file_queue_error_handler: fileQueueError,
                  file_dialog_complete_handler: fileDialogComplete,
                  upload_progress_handler: uploadProgress,
                  upload_error_handler: uploadError,
                  upload_success_handler: showVideo,
                  upload_complete_handler: uploadComplete,

                  // Button settings
                  button_image_url: "/SWFUpload/images/XPButtonNoText_160x22.png",
                  button_placeholder_id: "spanButtonPlaceholder",
                  button_width: 160,
                  button_height: 22,
                  button_text: '<span class="button">请选择上传视频<span class="buttonSmall">(100 MB Max)</span></span>',
                  button_text_style: '.button { font-family: Helvetica, Arial, sans-serif; font-size: 14pt; } .buttonSmall { font-size: 10pt; }',
                  button_text_top_padding: 1,
                  button_text_left_padding: 5,

                  // Flash Settings
                  flash_url: "/SWFUpload/swfupload.swf",	// Relative to this file
                  flash9_url: "/SWFUpload/swfupload_FP9.swf",	// Relative to this file

                  custom_settings: {
                      upload_target: "divFileProgressContainer"
                  },

                  // Debug Settings
                  debug: false
              });
          }
          //上传成功以后执行
          function showVideo(file, serverData) {
              //将上传成功视频路径存储到隐藏域中。
              var data = serverData.split(':');
              if (data[0] == "ok") {
                  $("#txtVideoPath").val(data[1]);
                  $("#txtImageUrl").val(data[2]);
              } else {

              }
          }


          $(function () {
              $(".authorClick").click(function () {
                  var value = $(this).text();
                  $("#Author").val(value);
              });
              $(".originInfo").click(function () {
                  $("#Origin").val($(this).text());
              });
              //跟编辑器添加事件
              CKEDITOR.instances["VideoContent"].on("blur", function () {
                  //set keyup event
                  // this.document.on("keyup", getData2);
                  //and click event
                  //this.document.on("blur", getData2);
                  //and select event
                  //this.document.on("select", AutoSave);
                  getData2();
              });

          });

          //将编辑器的内容赋值给另外一个文本域
          function getData2() {
              var oEditor = CKEDITOR.instances.VideoContent;
              var data = oEditor.getData();
              $("#txtVideoContent").val(data);
          }

          //提交表单
          function subForm() {
              
              $("#addForm").submit();
          }

          //完成添加
          function afterAdd(data) {
              window.parent.afterAdd(data);
          }
    </script>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("AddVideo", "VideoInfo", new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <input type="hidden" name="VideoPath" id="txtVideoPath" />
            <input type="hidden" name="ImageUrl" id="txtImageUrl" />
            <table style="width:auto; margin: 0 auto">
                <tr><td>视频名称：</td><td><input type="text" name="Title" class="textbox" /></td></tr>
                <tr><td>归属栏目:</td><td>@Html.DropDownList("videoClass")</td></tr>
                <tr><td>关 键 字</td><td><input type="text" name="KeyWords" class="textbox" /></td></tr>
                <tr><td>视频作者:</td><td><input type="text" name="Author" id="Author" class="textbox" />&nbsp;&nbsp;【<a href="javascript:void(0)" class="authorClick">未知</a>】【<a href="javascript:void(0)" class="authorClick">佚名</a>】【<a href="javascript:void(0)" class="authorClick">Itcast</a>】</td></tr>
                <tr><td>视频来源:</td><td><input type="text" name="Orgin" id="Origin" class="textbox" />&nbsp;&nbsp;【<a href="javascript:void(0)" class="originInfo">不详</a>】【<a href="javascript:void(0)" class="originInfo">本站原创</a>】【<a href="javascript:void(0)" class="originInfo">互联网</a>】</td></tr>

                <tr>
                    <td>视频内容:</td>
                    <td>
                        <div id="content">
                            <div id="swfu_container" style="margin: 0px 10px;">
                                <div>
                                    <span id="spanButtonPlaceholder">
                                    </span>
                                </div>
                                <div id="divFileProgressContainer" style="height: 45px;"></div>
                                <div class="fieldset flash" id="fsUploadProgress">
                                    <span class="legend">Upload Queue</span>
                                </div>
                                <div id="thumbnails">

                                </div>
                            </div>


                    </td>
                </tr>
                <tr>
                    <td>视频介绍:</td>
                    <td>
                        <textarea class="textbox" id="VideoContent" name="VideoContent1" rows="30" cols="40" style="width: 95%; height: 80px"></textarea>
                        <script type="text/javascript">
                            //<![CDATA[
                            // Replace the <textarea id="editor1"> with an CKEditor instance.
                            var editor = CKEDITOR.replace('VideoContent');
                                                  //]]>
                        </script>
                        <textarea class="textbox" name="VideoContent" id="txtVideoContent" rows="30" cols="40" style="display:none"></textarea>
                    </td>

                </tr>
            </table>

        }

    </div>
</body>
</html>
