
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色管理</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("display", "none");
            $("#setRoleActionDiv").css("display", "none");
            loadData();
        });

        function loadData() {
            $('#tt').datagrid({
                url: '/RoleInfo/GetRoleInfo',
                title: '角色数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载角色的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: {},//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'RoleName', title: '角色名称', width: 120 },
                    { field: 'Sort', title: '排序', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        
                    }

                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        addRole();
                    }
                }, {
                    id: 'btnEdit',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {
                        
                    }
                },
                {
                    id: 'btnSetRoleAction',
                    text: '为角色分配权限',
                    iconCls: 'icon-edit',
                    handler: function () {
                        setRoleAction();
                    }
                }
                ],
            });
        }
        //为角色分配权限
        function setRoleAction() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提示", "只能选择一个角色", "error");
                return;
            }
            $("#setRoleActionFrame").attr("src", "/RoleInfo/ShowRoleAction?roleId=" + rows[0].ID);
            $("#setRoleActionDiv").css("display", "block");
            $('#setRoleActionDiv').dialog({
                title: '为角色分配权限信息',
                collapsible: true,
                maximizable: true,
                resizable: true,
                modal: true,
                width: 300,
                height: 400,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //在主窗体中调用子窗体的方法。
                        var childWindow = $("#setRoleActionFrame")[0].contentWindow;//获取子窗体的window对象.
                        childWindow.subForm();//调用子窗体的的方法.
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#setRoleActionDiv').dialog('close');
                    }
                }]
            });
        }
        //完成权限分配后调用
        function afterSet(data) {
            if (data == "ok") {
                $('#setRoleActionDiv').dialog('close');
            } else {
                $.messager.alert("提示", "权限分配失败!!", "error");
            }
        }
        function addRole() {
            $("#addFrame").attr("src", "/RoleInfo/ShowAddRole");
            $("#addDiv").css("display", "block");
            $('#addDiv').dialog({
                title: "添加角色信息",
                collapsible: true,
                maximizable: true,
                resizable: true,
                modal: true,
                width: 300,
                height: 400,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //在主窗体中调用子窗体的方法
                        var childWindow = $("#addFrame").get(0).contentWindow; //获得子窗体的window对象
                        childWindow.subForm();  //调用子窗体的方法
                        
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#addDiv').dialog('close');
                        $('#addDiv input').val("");
                    }
                }]
            });
        }
        //添加完成后将窗体关闭
        function afterAdd(data) {
            if (data == "ok") {
                $('#addDiv').dialog('close');
                $('#tt').datagrid('reload');
            }
        }
    </script>
</head>
<body>
    <div>
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    <!-------------------添加角色---------------------->
    <div id="addDiv">
        <iframe id="addFrame" frameborder="0" width="100%" height="100%" class="addRoleInfo"></iframe>
    </div>
    <!-------------------------为角色分配权限------------------------------------->
    <div id="setRoleActionDiv">
        <iframe id="setRoleActionFrame" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</body>
</html>
