
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新闻文章管理</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <style type="text/css">
        fieldset {
            display: block;
            margin-top: 10px;
        }

        .button {
            background: #3F73B3;
            color: #fff;
            border: 1px solid #3F73B3;
            padding: 0 10px;
            *padding: 0 2px;
            height: 25px;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("dispaly", "none");
            $("#editDiv").css("dispaly", "none");
            loadData();
            bindArticeClassEvent();//给类别下拉框绑定事件
            bindBtnSearchEvent();//搜索按钮
        });
        function bindArticeClassEvent() {
            $("#articelClassName").change(function () {
                var value = $(this).val();
                var pars = { 'articelClassId': value };
                loadData(pars);
            });
        }
        function bindBtnSearchEvent() {
            $("#btnSeach").click(function () {
                var pars = {
                    'articelClassId': $("#articelClassName").val(),
                    'txtArticeTitle': $("#txtArticeTitle").val(),
                    'txtArticelAuthor': $("#txtArticelAuthor").val(),
                    'formDatepicker': $("#formDatepicker").datebox('getValue'),
                    'toDatepicker': $("#toDatepicker").datebox('getValue')
                };
                loadData(pars);
            });
        }
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/ArticelInfo/GetArticelInfo',
                title: '新闻数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载新闻的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'Title', title: '标题', width: 120 },
                    { field: 'ClassName', title: '类别', width: 120 },
                    { field: 'Author', title: '作者', width: 120 },
                    { field: 'Origin', title: '来源', width: 120 },
                    {
                        field: 'AddDate', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    },
                    {
                        field: 'showDetail', title: '详细', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            var str = "<a href='javascript:void(0)' ids='" + row.ID + "' class='detail'showAddData='" + ChangeDateFormat(row.AddDate) + "'>详细</a>";
                            return str;
                        }
                    }
                ]],
                //载入成功以后触发
                onLoadSuccess: function (data) {
                    console.log(data);
                    $(".details").click(function () {
                        var articelId = $(this).attr("ids");
                        var showAddData = $(this).attr("showAddData");//2015/1/12
                        var dir = "/ArticelHtml/" + showAddData + "/" + articelId + ".html";
                        window.open(dir);
                    });
                },
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {


                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        addArticel();//添加文章

                    }
                }, {
                    id: 'btnEdit',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {

                        editArticel();//编辑文章
                    }
                },
                {
                    id: 'btnSetAll',
                    text: '一站静态化',
                    iconCls: 'icon-edit',
                    handler: function () {

                        setArticelPage();//页面静态化
                    }
                }],
            });
        }
        //一站静态化
        function setArticelPage() {
            $.messager.confirm("提示", "确定要全站静态化吗?需要时间可能比较长", function (r) {
                if (r) {
                    $.post("/ArticelInfo/SetAllArticelPage", {}, function (data) {
                        if (data == "ok") {
                            $.messager.alert("提示", "生成成功!!", "infor");
                        }
                    });
                }
            })
        }
        function addArticel() {
            $("#addFrmae").attr("src", "/ArticelInfo/ShowAddInfo");
            $("#addDiv").css("dispaly", "block");
            $('#addDiv').dialog({
                title: '完成新闻添加',
                collapsible: true,
                maximizable: true,
                resizable: true,
                modal: true,
                width: 800,
                height: 500,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var childWindow = $("#addFrmae")[0].contentWindow;
                        childWindow.subForm();

                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#addDiv').dialog('close');

                    }
                }]
            });

        }
        //添加完成后执行.
        function afterAdd(data) {
            if (data = "ok") {
                $('#addDiv').dialog('close');
                $("#tt").datagrid('reload');
            } else {
                $.messager.alert('提示', '添加失败', "error");
            }
        }
        //编辑文章
        function editArticel() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提示", "你会修改吗?", "error");
                return;
            }
            $("#editFrmae").attr("src", "/ArticelInfo/ShowEditInfo?id=" + rows[0].ID);
            $("#editDiv").css("dispaly", "block");
            $('#editDiv').dialog({
                title: '完成新闻编辑',
                collapsible: true,
                maximizable: true,
                resizable: true,
                modal: true,
                width: 800,
                height: 500,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var childWindow = $("#editFrmae")[0].contentWindow;
                        childWindow.subForm();

                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $('#editDiv').dialog('close');

                    }
                }]
            });
        }
        //更新完成后调用
        function afterEdit(data) {
            if (data = "ok") {
                $('#editDiv').dialog('close');
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert("提示", "修改失败", "error");
            }
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1;
            var currentDate = date.getDate();
            return date.getFullYear() + "/" + month + "/" + currentDate;
        }
        //对文章进行设置
        function set(control, flag) {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提示", "你会设置吗?", "error");
                return;
            }
            var articelId = rows[0].ID;
            $.post("/ArticelInfo/SetArticelState", { "articelId": articelId, "flag": flag }, function (data) {
                if (data == "ok") {
                    $.messager.alert("提示", "设置成功", "info");
                } else {
                    $.messager.alert("提示", "设置失败", "error");
                }
            });

        }
    </script>
</head>
<body>
    <div>
        筛选:<select id="articelClassName" name="articelClassId">
            <option value="">所有数据</option>
            @MvcHtmlString.Create(ViewBag.classInfo)

        </select>
        &nbsp;&nbsp;
        文章标题:<input type="text" id="txtArticeTitle" />
        &nbsp;&nbsp;作者:<input type="text" id="txtArticelAuthor" />&nbsp;&nbsp;发布时间:从<input type="text" id="formDatepicker" class="easyui-datebox" data-options="sharedCalendar:'#cc'">到<input type="text" id="toDatepicker" class="easyui-datebox" data-options="sharedCalendar:'#cc'">

        <div id="cc" class="easyui-calendar"></div>
        <input type="button" id="btnSeach" value="搜索" />
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    <div id="addDiv">
        <iframe id="addFrmae" width="100%" height="100%" frameborder="0"></iframe>
    </div>

    <div id="editDiv">
        <iframe id="editFrmae" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div>
        <fieldset align="center"><legend>设定</legend><input type="button" value="推荐" onclick="set(this, 1)" class="button">  <input type="button" value="热门" onclick="    set(this, 2)" class="button">  <input type="button" value="头条" onclick="set(this, 3)" class="button"> <input type="button" value="固顶" onclick=" set(this, 4)" class="button"> <input type="button" value="滚动" onclick="set(this, 5)" class="button"></fieldset>
    </div>
    <div>
        <fieldset align="center"><legend>取消设定</legend><input type="button" value="推荐" onclick="Cancelset(this, 1)" class="button">  <input type="button" value="热门" onclick="    Cancelset(this, 2)" class="button">  <input type="button" value="头条" onclick="    Cancelset(this, 3)" class="button"> <input type="button" value="固顶" onclick="    Cancelset(this, 4)" class="button"> <input type="button" value="滚动" onclick="    Cancelset(this, 5)" class="button"></fieldset>
    </div>
</body>
</html>
